/*  ---------------Box Sizing----------------- starter code */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

/*  ---------------Responsive Images-----------------*/
/*in every code*/
img{
  max-width: 100%;/*auto sizes all images iaw screen size*/
}
/*  ---------------Utility Styles-----------------*/
.container{
  width: 80vw; /* moves right hand side over to left */
  margin: 40px auto;/* centers entire section; auto means left and right*/
}

/*  ---------------Global Styles-----------------*/
body{
    background-color: #f5f0e8;
    font-family: 'Cormorant Garamond', serif;
    margin:0;
}
 
header.primary{
  background: #674f04;
  color:#ffffff;
  text-align: center;
  padding:40px;

text-shadow: 1px 1px #000000;
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px;
}

header.primary a{
  color:#000000; 
  text-decoration:none;
}

header.primary h2{
  font-size: 1.4rem;
  margin: 40px auto 20px auto;
}

header.primary nav{
  max-width: 960px;
  /*  ---------------MAX WIDTH TIP-----------------*/
  margin: auto;
}

header.primary nav ul{
  display:flex;
  flex-direction: row;/* get used to using this */
  justify-content: space-between;
  padding: 0;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary nav a{
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0,0,0,.4);
  padding: 8px 16px;
  border-radius: 15px;
  transition: .5s;
} 

header.primary nav a:hover,
header.primary nav a:active
{
  background-color: rgba(0,0,0,.8);
}

#intro{
  border-bottom: 1px dotted #000000;
  padding-bottom: 15px; /*adds space between content and border */
}

#intro h2{
  color: #a28f70;
  border-bottom: 1px dotted #000000;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:15px;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.4);/*makes border almost*/
  padding: 10px;
  font-size: .8rem;
  transition: .5s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);/*makes border almost*/
}

article.post figure{
  margin:0;
}





/*  ---------------Media Queries-----------------*/
@media screen and (max-width:600px){
  header.primary nav ul{
    flex-direction: column;
    max-width: 250px;
    margin: auto;/*always use to center*/
    gap:10px;/*adds space in between each link*/
  }
  header.primary nav ul a{
    display:block;
  }
}